.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}
.column {
  flex: 35%;
  max-width: 40%;
  padding: 10px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 30px 20px 40px rgba(0, 0, 0, 0.5);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
}

.box:hover .image {
  opacity: 0.4;
}

.box:hover p1 {
  opacity: 1;
}
.box:hover p2 {
  opacity: 1;
}
.box:hover p3 {
  opacity: 1;
}
.box:hover p4 {
  opacity: 1;
}
.box:hover p5 {
  opacity: 1;
}
.box:hover p6 {
  opacity: 1;
}
.box:hover p7 {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: black;
  font-size: 16px;
}

.box p1 {
  position: absolute;
  top: 85%;
  left: 17%;
  font-size: 30px;
  text-align: center;
  opacity: 0;
}

.box p2 {
  position: absolute;
  top: 175%;
  left: 18%;
  font-size: 30px;
  opacity: 0;
}

.box p3 {
  position: absolute;
  bottom: -145%;
  left: 23%;
  font-size: 30px;
  opacity: 0;
}

.box p4 {
  position: absolute;
  top: 65%;
  right: 17%;
  font-size: 30px;
  opacity: 0;
}

.box p5 {
  position: absolute;
  top: 140%;
  right: 15%;
  font-size: 30px;
  opacity: 0;
}

.box p6 {
  position: absolute;
  top: 240%;
  right: 17%;
  font-size: 30px;
  opacity: 0;
}

.box p7 {
  position: absolute;
  top: 307%;
  left: 24%;
  font-size: 30px;
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .box p1 {
    position: absolute;
    top: 62%;
    left: 17%;
    font-size: 15px;
    text-align: center;
    opacity: 0;
  }

  .box p2 {
    position: absolute;
    top: 102%;
    left: 18%;
    font-size: 15px;
    opacity: 0;
  }

  .box p3 {
    position: absolute;
    top: 133%;
    left: 23%;
    font-size: 15px;
    opacity: 0;
  }

  .box p4 {
    position: absolute;
    top: 53%;
    right: 17%;
    font-size: 15px;
    opacity: 0;
  }

  .box p5 {
    position: absolute;
    top: 88%;
    right: 14%;
    font-size: 15px;
    opacity: 0;
  }

  .box p6 {
    position: absolute;
    top: 133%;
    right: 16%;
    font-size: 15px;
    opacity: 0;
  }

  .box p7 {
    position: absolute;
    top: 165%;
    left: 24%;
    font-size: 15px;
    opacity: 0;
  }

  .grid h1 {
    font-size: 35px;
    height: 120px;
    text-align: center;
    background-image: linear-gradient(to right, #047aed, white);
    padding-top: 30px;
    color: aliceblue;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}
